
@{
    ViewBag.Title = "TABLERO";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Torneo.css" />
</head>
<body>
    <!--SECCION  1-->
    <div>
        <!-- Contenedor Principal -->
        <header class="fila">
            <!-- seccion del header donde va el logo-->
            <div id="logo" class="col-lg-4">
                <!--img src="~/images/logo.jpg" width="25"  height="25"-->
                <label>  </label>

            </div>
            <div id="titulo" class="col-lg-4"><p>TORNEO</p> </div>
            <div id="usuario" class="col-lg-3"> <p></p></div>
            <div id="salir" class="col-lg-1">
                <button type="submit" onclick="location.href='@Url.Action("Menujuego", "Login")'"> Salir </button>
            </div>
        </header>
    </div>
    <!-- FINALIZA SECCION  1-->
    <!-- INICIA SECCION 2-->
    <section class="fila" id="section2">
        <div class="fondo">
            <div class="col-lg-2">
                <button type="submit"> EQUIPO 1</button>
                <br />
                <br />
                <button type="submit"> EQUIPO 2</button>
                <br />
                <br />
                <br />
                <button type="submit"> EQUIPO 3</button>
                <br />
                <br />
                <button type="submit"> EQUIPO 4</button>
                <br />
                <br />
                <br />
                <button type="submit"> EQUIPO 5</button>
                <br />
                <br />
                <button type="submit"> EQUIPO 6</button>
                <br />
                <br />
                <br />
                <button type="submit"> EQUIPO 7</button>
                <br />
                <br />
                <button type="submit"> EQUIPO 8</button>
            </div>
            <div class="col-lg-2">
                <br />
                <button type="submit"> CUARTOS 1</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> CUARTOS 2</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> CUARTOS 3</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit">CUARTOS 4</button>
            </div>
            <div class="col-lg-2">
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> SEMI 1</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> SEMI 2</button>
            </div>

            <div class="col-lg-2">
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> SEMI 1</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> SEMI 2</button>
            </div>
            <div class="col-lg-2">
                <br />
                <button type="submit"> CUARTOS 1</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> CUARTOS 2</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit"> CUARTOS 3</button>
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit">CUARTOS 4</button>
            </div>
            <div>
                <button type="submit">EQUIPO 1</button>
                <br />
                <br />
                <button type="submit">EQUIPO 2</button>
                <br />
                <br />
                <br />
                <button type="submit">EQUIPO 3</button>
                <br />
                <br />
                <button type="submit">EQUIPO 4</button>
                <br />
                <br />
                <br />
                <button type="submit">EQUIPO 5</button>
                <br />
                <br />
                <button type="submit">EQUIPO 6</button>
                <br />
                <br />
                <br />
                <button type="submit">EQUIPO 7</button>
                <br />
                <br />
                <button type="submit">EQUIPO 8</button>
            </div>
        </div>

    </section>
    <!--  FINALIZA SECCION  2-->
    <!--  INICIA  SECCION  3-->
    
</body>

</html>